<a href="https://colab.research.google.com/github/NeeluDevi/assignment1/blob/main/22_Feb_AssQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd

In [2]:
result=pd.Series([4,8,15,16,23,42],dtype=int)

In [3]:
result

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(result)

pandas.core.series.Series

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [5]:
list1=list(range(1,11))
print(list1)
type(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [6]:
data=pd.Series(list1,dtype=int)
print(data)
type(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

pandas.core.series.Series

**Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.Name**

In [7]:
df=pd.DataFrame({
    "Name":['Alice','Bob','Claire'],
    "Age":[25,30,27],
    "Gender":['Female','Male','Female']
})

type(df)

pandas.core.frame.DataFrame

In [8]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

**Series vs DataFrame:** Series is a one dimensional and contain homogenous data and size of data will be same and data values are mutable. On the other hand dataframe is 2D contain heterogenous data in row and columns and in dataframe size of data and data values are mutable.

In [9]:
#series
ds= pd.Series(range(1,11),dtype=int)
type(ds)

pandas.core.series.Series

In [10]:
ds

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
#dataframe
df1=pd.DataFrame([[1,2,3,4]])
type(df1)

pandas.core.frame.DataFrame

In [12]:
df1

   0  1  2  3
0  1  2  3  4

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

**some common functions**
drop(),rename(),iloc[],loc[],shape(),describe(),head(),tail()

In [13]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [24]:
df=pd.DataFrame({
    "Name":['Alice','Bob','Claire'],
    "Age":[25,30,27],
    "Gender":['Female','Male','Female']
},index=['a','b','c'])
print(df)

     Name  Age  Gender
a   Alice   25  Female
b     Bob   30    Male
c  Claire   27  Female

In [25]:
print(df.loc['a'])

Name       Alice
Age           25
Gender    Female
Name: a, dtype: object

In [26]:
print(df.iloc[1])

Name       Bob
Age         30
Gender    Male
Name: b, dtype: object

In [27]:
df.shape

(3, 3)

In [30]:
df.head(1)

    Name  Age  Gender
a  Alice   25  Female

In [31]:
df.tail(1)

     Name  Age  Gender
c  Claire   27  Female

In [33]:
df.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [35]:
df.rename(columns={"Name":'NAME'},inplace=True)
df

     NAME  Age  Gender
a   Alice   25  Female
b     Bob   30    Male
c  Claire   27  Female

In [37]:
df.drop("b")

     NAME  Age  Gender
a   Alice   25  Female
c  Claire   27  Female

In [39]:
df.drop("Gender",axis=1)

     NAME  Age
a   Alice   25
b     Bob   30
c  Claire   27

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

**Ans :**
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [50]:
name=pd.Series(['Neelu','Shubham','Vipin','Gaurav'],name='name')
age=pd.Series([20,21,23,14],name='age')
marks=pd.Series([89,80,88,90],name='marks')
df=pd.concat([name,age,marks],axis=1)

In [51]:
df

      name  age  marks
0    Neelu   20     89
1  Shubham   21     80
2    Vipin   23     88
3   Gaurav   14     90