<a href="https://colab.research.google.com/github/NeeluDevi/assignment1/blob/main/30th_Jan_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Write a program to accept the percentage from the user and display the grade according to the following criteria.**

1.   Marks                   Grade
2.   >90                       A
3.   >80 and <=90              B
4.   >=60 and <=80             C
5.   below 60                  D

In [ ]:
marks=int(input("Enter your percentage :"))
if marks>90:
  print("Grade : A")
elif marks >80 and marks<=90 :
  print("Grade : B")
elif marks>=60 and marks<=80:
  print("Grade : C")
else:
  print("Grade : D")

Enter your percentage :70
Grade : C

**2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria.**



*   Tax                               1. Cost price(rs)
*   15%                                 greate than >100000
*   10%                                 greater than >5000 and <=100000
*   5%                                   less than <=5000

In [ ]:
cost=int(input("Enter the cost price of the bike: "))
if cost > 100000:
  road_tax = cost * 0.15
elif cost > 5000 and cost <= 100000 :
  road_tax = cost * 0.10
else :
  road_tax = cost * 0.05
print("The road tax to be paid is Rs. : ",road_tax)

Enter the cost price of the bike: 6700
The road tax to be paid is Rs. :  670.0

**3. Accept any city from the user and display monuments of that city.**



1.   City                 Monuments
2.   Delhi                   Red Fort
3.   Agra                    Taj Mahal
4.   Jaipur                  Jal Mahal

In [ ]:
city = input("Enter the city :")
if city == 'Delhi' or city == 'delhi' :
  print("Monument : Red Fort")
elif city == 'Agra' or city == 'agra' :
  print("Monument : Taj Mahal")
elif city == 'Jaipur' or city == 'jaipur' :
  print("Monument : Jal Mahal")
else:
  print("Enter a valid city")

Enter the city :agra
Monument : Taj Mahal

**4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.**

In [ ]:
num = int(input("Enter a number :"))
count=0
while num > 10 :
  num = num/3
  count =count+ 1
print("The given number can be divided by 3",count,"times before it becomes less than or equal to 10.")

Enter a number :180
The given number can be divided by 3 3 times before it becomes less than or equal to 10.

**5. Why and When we use while loop in Python give a detailed description with example.**

**Ans. :** Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

In [ ]:
# example
num=1
while num <5:
  print(num)
  num +=1

1
2
3
4

**6. Use nested while loop to print 3 different pattern.**

In [ ]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print((i), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print(j, end='')
        j += 1
    print()
    i -= 1

12345
1234
123
12
1

**7. Reverse a while to display numbers from 10 to 1.**

In [ ]:
i=10
while i>0:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

**8. Reverse a while loop to display numbers from 10 to 1.**

In [ ]:
i=10
while i >0:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1